@model List<Usuario>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="h5 font-weight-bold text-center mb-3" style="color: #FFFFFF">Listar</div>
        <div class="card-body">
            <a href="@Url.Action("NuevoUsuario","Usuarios")" class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
            <hr />
            <table style="color: #FFFFFF" class="table table-responsive ">
                <thead>
                    <tr>
                    
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Rut</td>
                        <td>@item.nombre</td>
                        <td>@item.correo</td>
                        <td>@item.contraseña</td>
                        <td>@item.direccion</td>
                        <td>@item.telefono</td>
                        <td>@item.tipo</td>
                        <td>@item.estado</td>
                        <td>
                            <a href="@Url.Action("ActualizarUsuario","Usuarios",new {id=item.idUsuario })" class="btn btn-success  ">Actualizar</a>
                           <a href="@Url.Action("EliminarUsuario","Usuarios",new {id = item.idUsuario })" class="btn btn-danger ">Eliminar</a>
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>