@model Producto
@{
    ViewData["Title"] = "Detalle Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h5 font-weight-bold text-center mb-3" style="color: #FFFFFF">Detalle Producto</div>
<hr />

    <div class="row text-center mb-3">
    <div class="form-group " >
        <label  style="color: #FFFFFF">Nombre:</label>
      <label  style="color: #FFFFFF">@Model.nombre</label>
     </div>
     <div class="form-group" >
        <label  style="color: #FFFFFF">Marca:</label>
        <label  style="color: #FFFFFF">@Model.marca</label>
     </div>
     <div class="form-group" >
        <label style="color: #FFFFFF">Modelo:</label>
       <label style="color: #FFFFFF">@Model.modelo</label>
     </div>
     <div class="form-group" >
        <label style="color: #FFFFFF">Categoria:</label>
       <label style="color: #FFFFFF">@Model.categoria</label> 
     </div>
     <div class="form-group" >
        <label style="color: #FFFFFF">Precio:</label>
      <label style="color: #FFFFFF">$@Model.precio</label> 
     </div>
     <div class="form-group" >
        <label style="color: #FFFFFF">Imagen:</label>
        <hr />
        <img src=@Model.imagen height="350px" width="300px"/>
     </div>
     
     <hr />
     <div class="form-group" >
        <a class="btn btn-primary " href="@Url.Action("ListarProductos","Productos")">Regresar</a>
     </div>
     </div>
